.todo-list-item {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  &_checkbox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px #ddd solid;
    margin: 0 10px;
    cursor: pointer;
    &-done {
      background-image: url("../../assets/done.png");
      background-size: 30px 30px;
      border: none;
    }
  }
  &_done {
    text-decoration: line-through;
    color: gray;
  }
  &_delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    &-show {
      display: block;
      &:hover {
        color: rgba(255, 0, 0, 1);
      }
    }
  }
}
