.todo-app {
  width: 500px;
  margin: 150px auto 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: white;
  &_title {
    font-size: 70px;
    color: rgb(175, 47, 47);
    position: absolute;
    top: -110px;
    width: 100%;
    text-align: center;
  }
}
